<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- SACHA HOME -->
    <add key="YourImagePath" value="C:\Users\Public\Pictures\Sample Pictures"/>
    <!-- SACHA WORK -->
    <!--<add key="YourImagePath" value="C:\Documents and Settings\barbers\My Documents\My Pictures"/>-->
  </appSettings>
</configuration>